
.title-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;


  .title-image {
    img {
      width: 100%;
      height: auto;
    }
  }

  .title-info {
    margin-top: 20px;

    h2 {
      font-family: 'Roboto';
      font-weight: 600;
      font-variant: small-caps;
      color: #5f5f5f;
      height: 50px;
    }

    p {
      // Estilos para el párrafo
    }
  }
}

.modal-content {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: auto;

  .ModalHeader {
    padding: auto;

  }
}

.modal-dialog {
  display: flex;
  flex-direction: column;
}


/* Estilo para el contenedor del cuerpo */
.body-container {
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.modal-card-button {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 768px) {
  }
  @media (min-width: 769px) and (max-width: 968px) {
  }
  @media (min-width: 969px) {


  }
}

/* Estilo para el botón */
.buy-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;

  Button {
    width: 80%;

    @media (min-width: 764px) {
      width: 60%;
      height: 6vh;
    }
  }
}

.modal-body {
  width: 100%;
  @media (max-width: 768px) {
  }
  @media (min-width: 769px) and (max-width: 968px) {

  }
  @media (min-width: 969px) {

  }
}

.modalCardRow {

  flex-direction: column;

  @media (max-width: 768px) {
  }
  @media (min-width: 769px) and (max-width: 968px) {

  }
  @media (min-width: 969px) {

  }
}


